@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Merienda:wght@900&family=Merriweather:ital,wght@0,300;1,400&family=Nunito:wght@300&display=swap');

:root{
    --main-color:black;
    --black:rgba(200, 199, 199, 0.978);
    --bg:white;
    --border:.1rem solid black;
    --big-font:4.5rem;
    --h2-font:2.6rem;
    --p-font:1.1rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}
.heading{
    font-size:25px ;
    line-height: 1.2;
    color: rgb(233, 209, 75);
    margin-bottom: 2rem;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;

}
.heading span{
    color: var(--main-color);
    font-size:40px;
}
.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 3rem;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:black;
    font-family: 'Merriweather', serif;
}

.header .navbar a:hover{
    color:var(--black);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{
    color:black;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:var(--main-color);
}
#menu-btn{
    display: none;
}
.header .search-form{
    position: absolute;
    top:115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color:var(--main-color);
    padding:1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color:var(--main-color);
}

.header .search-form label:hover{
    color:var(--main-color);
}

section{
    padding: 50px;
}
.menu1 .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.menu1 .row .image{
    margin: 2rem;
    padding:2rem;
    flex: 1 1 40rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.2);
    border-radius: 1rem;
}
.menu1 .row .image img{
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.menu1 .row .content{
    flex: 1 1 40rem ;
}

.menu1 .row .content h3{
    font-size: 3rem;
    color:black;
    padding:1rem 0;
    
}

.menu1 .row .content p{
    font-size: 1.6rem;
    color:black;
    padding:1rem 0;
    line-height: 1.8;
    text-align: justify;
}

.y3{
    display: inline-block;
    padding: 11px 26px;
    background: var(--main-color);
    color: var(--bg);
    font-size: 15px;
    font-weight: 600;
    border: 1px solid var(--main-color);
    border-radius: 4rem;
    transition: all .38s ease;
}
.y3:hover{
    letter-spacing: 1px;
}
.contact-bg{
    height: 35vh;
    display: flex;
    align-items: center;
    background:var(--main-color);
    background-repeat: no-repeat; 
    background-position: 50% 100%;
    background-attachment: fixed;
    flex-direction: column; 
    text-align: center;
    color:var(--bg); 
    justify-content: center;
}
.contact-bg h3{ 
    font-size: 1.3rem; 
    font-weight: 400;
}
.contact-bg h2{
    font-size: 3rem;
    text-transform:uppercase ;
    padding: 0.5rem 0;
    letter-spacing: 4px;
}
.line div{
    margin: 0 0.2rem;
}
.line div:nth-child(1),
.line div:nth-child(3){
    height: 3px;
    width: 70px;
    background: var(--bg);
    border-radius: 5px;
}
.line{
    display: flex;
    align-items: center;
}
.line div:nth-child(2){
    width: 10px;
    height: 10px;
    background: var(--bg);
    border-radius: 50%;
}
.text{
    font-weight: 300;
    opacity: 0.9 ;
}
.contact-bg .text{
    margin: 1.6rem 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding:3rem 2rem;   
}
.container .title{
    font-size: 3.5rem;
    color:#444;
    margin-bottom: 3rem;
    text-transform:uppercase ;
    text-align: center;
}
.container .house-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 2rem;
   
}
.container .house-container .house{
    text-align: center;
    padding: 3rem 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.2);
    outline:.1rem solid #ccc;
    outline-offset: -1.5rem;
}
.container .house-container .house img{
    height: 19rem;
    border: none;
    border-radius: 20px;
}

.container .house-container .house h3{
    padding: .5rem 0;
    font-size: 2rem;
    color: #444;
}
.container .house-container .house:hover h3{
    color: var(--main-color);
}
.container .house-container .house price{
    font-size: 2rem;
    color: #444;
}
.stars i{
    font-size: 1.7rem;
    color: #fd4;
}
.button{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
}
.button:hover{
    letter-spacing: .2rem;
    background-color: black;
    border-radius:9px ;
}
.footer{
    background:var(--bg);
    text-align: center; 
}
.footer .t1{
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 0.5rem;
    align-items: flex-start;
}
.footer .t1 .box{
    text-align: center;
}

.footer .t1 .box i{
    font-size: 2.5rem;
    line-height: 6rem;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-color: var(--bg);
    color: var(--main-color);
    margin-bottom: .5rem;
    border: var(--border);
 }
 
 .footer .t1 .box h3{
    margin: .5rem 0;
    font-size: 2rem;
    color: var(--main-color);
 }

.footer .t1 .box p{
    line-height: 2;
    font-size: 1.6rem;
    color:var(--main-color)
}
.footer .tt1{
    padding:1rem 0;
    background-color: var(--main-color);
}
.footer .tt1 a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:var(--bg);
    background-color: var(--main-color);
    margin:.3rem;
    border-radius: 50%;
}

.footer .tt1 a:hover{
    background-color: var(--black);
}

.footer .credit{
    font-size: 2rem;
    color:var(--bg);
    padding:1.5rem;
}

.footer .credit span{
    color:var(--bg);
}
@media (max-width:990px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--main-color);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}

