@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Merienda:wght@900&family=Merriweather:ital,wght@0,300;1,400&family=Nunito:wght@300&display=swap');

:root{
    --main-color:black;
    --black:rgba(200, 199, 199, 0.978);
    --bg:white;
    --border:.1rem solid black;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;

}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}
.heading{
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;

}
.heading span{

    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}
.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 3rem;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:black;
    font-family: 'Merriweather', serif;
}

.header .navbar a:hover{
    color:var(--black);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{
    color:black;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:var(--main-color);
}
#menu-btn{
    display: none;
}
.header .search-form{
    position: absolute;
    top:115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color:var(--main-color);
    padding:1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color:var(--main-color);
}

.header .search-form label:hover{
    color:var(--main-color);
}
.contact-bg{
    height: 35vh;
    display: flex;
    align-items: center;
    background:var(--main-color);
    background-repeat: no-repeat; 
    background-position: 50% 100%;
    background-attachment: fixed;
    flex-direction: column; 
    text-align: center;
    color:var(--bg); 
    justify-content: center;
}
.contact-bg h3{ 
    font-size: 1.3rem; 
    font-weight: 400;
}
.contact-bg h2{
    font-size: 3rem;
    text-transform:uppercase ;
    padding: 0.5rem 0;
    letter-spacing: 4px;
}
.line div{
    margin: 0 0.2rem;
}
.line div:nth-child(1),
.line div:nth-child(3){
    height: 3px;
    width: 70px;
    background: var(--bg);
    border-radius: 5px;
}
.line{
    display: flex;
    align-items: center;
}
.line div:nth-child(2){
    width: 10px;
    height: 10px;
    background: var(--bg);
    border-radius: 50%;
}
.text{
    font-weight: 300;
    opacity: 0.9 ;
}
.contact-bg .text{
    margin: 1.6rem 0;
}
.contact-body{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}
.contact-info{
    margin: 2rem 0; 
    text-align: center;
    padding: 2rem 0;
}
.contact-info span{
    display: block;
}
.contact-info div{
    margin:0.8rem 0;
    padding:1rem;
}
.contact-info span .fas{
    font-size: 3rem;
    padding: bottom 0.9rem;
    color: var(--main-color);
}
.contact-info div span:nth-child(2){
    font-weight: 500;
    font-size: 1.1rem;
} 
.contact-info .text{
    padding-top:0.4rem;
}
 .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
 .row .image{
    margin: 2rem;
    padding:2rem;
    flex: 1 1 40rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.2);
    border-radius: 1rem;
}
 .row .image img{
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
 .row .content{
    flex: 1 1 40rem ;
}

.form-control{
    width: 100%;
    border: 1.5px solid var(--main-color);
    border-radius: 5px;
    padding: 0.7rem;
    margin: 0.6rem 0;
    font-family: 'Open Sans',sans-serif;
    font-size: 1rem;
    outline: 0;
}
.form-control:focus{
    box-shadow:0 0 6px -3px rgba(48, 48, 48, 1) ;
}
.contact-form form div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 0.6rem;
}
.send-btn{
    font-family:'Open Sans',sans-serif ;
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--bg);
    background: var(--main-color);
    border: none;
    border-radius: 5px;
    padding:0.7rem 1.5rem ;
    cursor: pointer;
    transition: all 0.4s ease;
}
.send-btn:hover{
    opacity:0.8 ;
}
.contact-form > div img{
    width:85%;
}
.contact-form > div{
    margin: 0 auto;
    text-align: center;
}
.contact-footer{
    padding: 2rem 0;
    background: var(--main-color);
}
.contact-footer h3{
    font-size: 1.3rem;
    color: var(--bg);
    margin-bottom: 1rem;
    text-align: center;
}
.social-links{
    display: flex;
    justify-content: center;
}
.social-links a{
    text-decoration: none;
    width: 40px;
    height: 40px;
    color: var(--bg);
    border: 2px solid var(--bg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;
    transition: all 0.4s ease;
}
.social-links a:hover{
    color: var(--black);
    border-color: var(--white);
}
.contact-footer .credit{
    font-size: 2rem;
    color:var(--bg);
    padding:1.5rem;
    text-align: center;
}

.contact-footer  .credit span{
    color:var(--bg);
}

@media (max-width:990px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--main-color);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}

